@media screen and (orientation: portrait) {
  #main-menu,
  #stage,
  canvas,
  .menu-shield,
  .menu-content,
  .menu-main,
  .menu-help,
  #fullscreen-btn,
  #sound-btn {
    display: none !important;
  }

  #portrait-mode {
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    color: white;
    padding: 40px;
  }
}
